## Импорт библиотек

In [1]:
import pandas as pd

import re

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

import lightgbm as lgb

import joblib

## Читаем датасет и оставляем фичи для дальнейшей работы

In [98]:
df1 = pd.read_csv('data/used_cars.csv')

In [99]:
features = ['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine', 'ext_col', 'price']

In [100]:
df1 = df1[features]

In [101]:
df1.head()

,brand,model,model_year,milage,fuel_type,engine,ext_col,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Black,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,Moonlight Cloud,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Blue,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Black,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,Glacier White Metallic,"$34,999"

In [102]:
df2 = pd.read_csv('data/cars_data_VERSION2.csv')

In [103]:
df2 = df2.drop(['Used/New', 'ConsumerRating',
       'ConsumerReviews', 'SellerType', 'SellerName', 'SellerRating',
       'SellerReviews', 'StreetName', 'State', 'Zipcode', 'DealType',
       'ComfortRating', 'InteriorDesignRating', 'PerformanceRating',
       'ValueForMoneyRating', 'ExteriorStylingRating', 'ReliabilityRating',
       'MinMPG', 'MaxMPG', 'VIN', 'Stock#', 'InteriorColor', 'Transmission', 'Drivetrain'], axis=1)

In [104]:
df2 = df2.rename(columns={'Year': 'model_year', 'Make': 'brand', 'Model': 'model', 'Mileage': 'milage',
                                   'Engine': 'engine', 'FuelType': 'fuel_type', 'ExteriorColor': 'ext_col', 'Price': 'price'})

In [107]:
df2['milage']  = df2['milage'] / 100

In [108]:
df1['milage'] = df1['milage'].apply(lambda x: x[:-4].replace(',', '.')).map(float) * 1.61

In [164]:
dataset = pd.concat([df1, df2])

In [165]:
dataset.model_year = dataset.model_year.astype('int64')

In [166]:
dataset = dataset[dataset['model_year'] > 2000]

## Предобработка данных

In [167]:
dataset = dataset.rename(columns={'model_year': 'year'})

In [168]:
fuel = dataset.fuel_type.replace(['–', 'not supported', 'Electric Fuel System',
       'Gasoline/Mild Electric Hybrid', 'Flex Fuel Capability',
       'not supported', 'Flexible Fuel', 'Plug-In Electric/Gas',
       'Diesel Fuel', 'Gasoline Fuel'], 'Gasoline')

fuel = dataset.fuel_type.replace(['Plug-In Hybrid'], 'Electric')
fuel = fuel.fillna('Gasoline')
dataset['fuel_type'] = fuel

In [169]:
l = []
pattern = '\d\.\dL'
for engine in dataset.engine:
    result = re.search(pattern, engine)
    if result:
        l.append(float(result.group()[:-1]))
    else:
        l.append(0)
        
engine = pd.Series(l)
engine = engine.replace(0, engine.median())
dataset['engine'] = engine

In [170]:
selected_colors = df1.ext_col.value_counts().head(12).index
all_colors = dataset.ext_col.unique()

colors_to_drop = [color for color in all_colors if color not in selected_colors]

color = dataset['ext_col'].replace(colors_to_drop, 'Black')

dataset['ext_col'] = color
dataset = dataset.rename(columns={'ext_col': 'color'})

In [163]:
dataset['price'] = dataset['price'].map(lambda x: float(x[1:].replace(',', ''))) * 93

ValueError: could not convert string to float: 'ot Priced'

In [172]:
dataset['price']

0       $10,300
1       $38,005
2       $54,598
3       $15,500
4       $34,999
         ...
9374    $27,374
9375    $61,998
9376    $26,944
9377    $28,568
9378    $32,091
Name: price, Length: 13304, dtype: object